node_modules
.turbo
.husky

##DB
postgresql/
postgresqldev/
**/database/inserts/**
mongodbdev/
mongodbdevelopment/
postgresqlpostgres/

## API
# Build
build
yarn.lock
package-lock.json
.editorconfig
bsafe/
dist/

#env
.env
.env.staging
.env.prod

# Mac OS
.DS_Store

# Logs
.log
.local
