# Build
node_modules
build
yarn.lock
package-lock.json
.editorconfig
bsafe/
pnpm-lock.yaml

#env
.env
.env.staging
.env.prod

# Mac OS
.DS_Store

# Logs
.log

# Tests
docker/database/postgresql
docker/database/postgresqltest
docker/database/postgresqldev
