services:
  socket-server:
    container_name: bako-socket-server
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /socket
    ports:
      - '3001:3001'
    environment:
      # DATABASE (uses container name in Docker network)
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_NAME=postgres

      # ASSETS
      - UI_URL=http://localhost:5174
      - API_URL=http://localhost:3333

      # SOCKET
      - SOCKET_PORT=3001
      - SOCKET_NAME=bako-socket-server
      - SOCKET_TIMEOUT_DICONNECT=3600000

      # REDIS (uses container name in Docker network)
      - REDIS_URL_READ=redis://redis-bako-dev:6379
      - REDIS_URL_WRITE=redis://redis-bako-dev:6379

    restart: always
    healthcheck:
      test: ['CMD', 'wget', '--spider', '--quiet', 'http://localhost:3001/health']
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - bako-network

networks:
  bako-network:
    external: true
