name: "[API-HML] Deploy to Amazon ECS"

on:
  push:
    branches: [homologacao]

jobs:
  check-changes:
    name: "[VERIFY] Check for Changes"
    runs-on: ubuntu-latest

    outputs:
      should_deploy: ${{ steps.check.outputs.should_deploy }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check for changes in ./packages/api
        id: check
        run: |
          if git diff --quiet HEAD~1 -- ./packages/api; then
            echo "No changes detected in ./packages/api"
            echo "should_deploy=false" >> $GITHUB_OUTPUT
          else
            echo "Changes detected in ./packages/api"
            echo "should_deploy=true" >> $GITHUB_OUTPUT
          fi

  deploy:
    name: "[API-HMG] Deploy to Amazon ECS"
    needs: check-changes
    runs-on: ubuntu-latest
    if: needs.check-changes.outputs.should_deploy == 'true'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.BAKO_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.BAKO_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: ./packages/api
          platforms: linux/arm64
          push: true
          tags: |
            ${{ steps.login_ecr.outputs.registry }}/bako-safe-api-hmg:${{ github.sha }}
            ${{ steps.login_ecr.outputs.registry }}/bako-safe-api-hmg:latest
          cache-from: type=registry,ref=${{ steps.login_ecr.outputs.registry }}/bako-safe-api-hmg:latest
          cache-to: type=inline

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ./packages/api/hml_api_task_definition.json
          container-name: bako-safe-api-hmg
          image: ${{ steps.login_ecr.outputs.registry }}/bako-safe-api-hmg:${{ github.sha }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: bako-safe-api-hmg-service
          cluster: Bako-Safe-Hmg
          wait-for-service-stability: true
